/* icon styles */
.{css-prefix}icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
}

.{css-prefix}icon.{css-prefix}ic-title
    background: url('image/ic-subject.png') no-repeat

.{css-prefix}icon.{css-prefix}ic-location
    background: url('image/ic-location.png') no-repeat

.{css-prefix}icon.{css-prefix}ic-date
    background: url('image/ic-date.png') no-repeat

.{css-prefix}icon.{css-prefix}ic-state
    background: url('image/ic-state.png') no-repeat

.{css-prefix}icon.{css-prefix}ic-private
    background: url('image/ic-lock.png') no-repeat

.{css-prefix}icon.{css-prefix}ic-close
    background: url('image/ic-close.png') no-repeat


.{css-prefix}ic-location-b
    background: url('./image/ic-location-b.png')

.{css-prefix}ic-state-b
    background: url('./image/ic-state-b.png')

.{css-prefix}icon.{css-prefix}ic-user-b
    background-image: url('./image/ic-user-b.png')

.{css-prefix}icon.{css-prefix}ic-edit
    background-image: url('./image/ic-edit.png')

.{css-prefix}icon.{css-prefix}ic-delete
    background-image: url('./image/ic-delete.png')

.{css-prefix}icon.{css-prefix}ic-arrow-solid-top
    background: url('image/ic-arrow-solid-top.png') no-repeat

.{css-prefix}icon.{css-prefix}ic-milestone
    background: url('image/ic-milestone.png') no-repeat

.{css-prefix}icon.{css-prefix}ic-arrow-left
    background: url('image/ic-arrow-left.png') no-repeat

.{css-prefix}icon.{css-prefix}ic-arrow-right
    background: url('image/ic-arrow-right.png') no-repeat

.{css-prefix}ic-repeat-b
    background: url('./image/ic-repeat-b.png')


.{css-prefix}popup-task
    .{css-prefix}icon
        margin-right 10px

        &.tui-full-calendar-calendar-dot
            margin-right 11px

    .{css-prefix}ic-priority
        background: url('./image/ic-priority.png')

    .{css-prefix}section-header
        display: flex;

        .{css-prefix}ic-checkbox,
        .{css-prefix}ic-checkbox-checked
            cursor pointer
            width: 14px;
            height: 14px;
            flex-shrink: 0;
            margin-top: 6px;
            margin-right 8px
            background: url('data:image/svg+xml;base64,PHN2ZyB0PSIxNjIzODQ3NTIxODY2IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjE4OTgiIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4Ij48cGF0aCBkPSJNODU3LjYgMTAyNCAxNjYuNCAxMDI0QzcwLjQgMTAyNCAwIDk1My42IDAgODU3LjZMMCAxNjYuNEMwIDcwLjQgNzAuNCAwIDE2Ni40IDBsNjk3LjYgMEM5NTMuNiAwIDEwMjQgNzAuNCAxMDI0IDE2Ni40bDAgNjk3LjZDMTAyNCA5NTMuNiA5NTMuNiAxMDI0IDg1Ny42IDEwMjR6TTE2Ni40IDY0QzEwOC44IDY0IDY0IDEwOC44IDY0IDE2Ni40bDAgNjk3LjZDNjQgOTE1LjIgMTA4LjggOTYwIDE2Ni40IDk2MGw2OTcuNiAwYzU3LjYgMCAxMDIuNC00NC44IDEwMi40LTEwMi40TDk2Ni40IDE2Ni40Qzk2MCAxMDguOCA5MTUuMiA2NCA4NTcuNiA2NEwxNjYuNCA2NHoiIHAtaWQ9IjE4OTkiIGZpbGw9IiM4YThhOGEiPjwvcGF0aD48L3N2Zz4=') no-repeat
            background-size 14px

        .{css-prefix}ic-checkbox-checked
            background-image url('data:image/svg+xml;base64,PHN2ZyB0PSIxNjIzODQ3NDI0NTY2IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMzEgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjE2NTUiIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4Ij48cGF0aCBkPSJNODg5LjYgMCAxMzQuNCAwQzU3LjYgMCAwIDU3LjYgMCAxMzQuNGwwIDc2MS42QzAgOTY2LjQgNTcuNiAxMDI0IDEzNC40IDEwMjRsNzYxLjYgMGM3MC40IDAgMTM0LjQtNTcuNiAxMzQuNC0xMzQuNEwxMDMwLjQgMTM0LjRDMTAyNCA1Ny42IDk2Ni40IDAgODg5LjYgMHpNODI1LjYgMzQ1LjZsLTM4NCAzODRjLTYuNCA2LjQtMTIuOCA2LjQtMjUuNiA2LjRzLTE5LjIgMC0yNS42LTYuNGwtMTkyLTE5MkMxOTIgNTI0LjggMTkyIDQ5OS4yIDE5OC40IDQ4Ni40czMyLTEyLjggNDQuOCAwbDE2Ni40IDE2Ni40IDM1OC40LTM1OC40YzEyLjgtMTIuOCAzMi0xMi44IDQ0LjggMFM4MzIgMzMyLjggODI1LjYgMzQ1LjZ6IiBwLWlkPSIxNjU2IiBmaWxsPSIjMmQ4Y2YwIj48L3BhdGg+PC9zdmc+')
